
Halo Administrator,

Dengan ini diberitahukan, untuk item :

Module Function : $moduleFunction
Item Code : $itemCode
Site Code : $siteCode
Departement Code : $departementCode

Untuk informasi lebih lanjut, Anda dapat masuk ke application area yang berada di bawah ini:
http://localhost/billing

Hormat Kami,
